<div class="section-6">
    <div class="container-3 w-container">
        <div class="columns-5 w-row">
            <div class="column-5 w-col w-col-4 w-col-small-4 w-col-tiny-4">
                <img src="./assets/images/chat-button.png" width="66" alt="">
            </div>
            <div class="column-6 w-col w-col-4 w-col-small-4 w-col-tiny-4">
                <img src="./assets/images/files-button.png" width="75" alt="">
            </div>
            <div class="column-7 w-col w-col-4 w-col-small-4 w-col-tiny-4">
                <a href="emblem-list" class="w-inline-block">
                    <img src="./assets/images/wallet-button.png" width="62" alt="">
                </a>
            </div>
        </div>
    </div>
</div>