<div class="section-4 animated">
    <a href="create" class="link-block w-inline-block">
        <div class="text-block-3">CREATE EMBLEM</div>
    </a>
</div>
<div class="columns-2 w-row animated fadeIn">
    <div class="column-2 w-col w-col-6 w-col-small-6 w-col-tiny-6">
        <a href="emblem-list">
            <img src="./assets/images/my-emblems.png" width="124" alt="" class="image-2 animated zoomIn fast">
        </a>
    </div>
    <div class="column w-col w-col-6 w-col-small-6 w-col-tiny-6"><img src="./assets/images/fund.png" class="animated zoomIn" width="76" alt=""></div>
</div>
<div class="columns-2 w-row animated fadeIn">
    <div class="column-2 w-col w-col-6 w-col-small-6 w-col-tiny-6"><img src="./assets/images/send.png" class="animated zoomIn fast" width="77" alt=""> </div>
    <div class="column w-col w-col-6 w-col-small-6 w-col-tiny-6"><img src="./assets/images/trade.png" class="animated zoomIn" width="78" alt=""> </div>
</div>